<div class="project" id="pro-4">
    <div>
        <% if(isEnglish) { %>
            <h1>My First Landing Page</h1>
            <p>My first responsive Landing Page. Project completed in March, 2023.</p>
        <% } else { %>
            <h1>My First Landing Page</h1>
            <p>Minha primeira Landing Page responsiva. Projeto finalizado em Março de 2023 com a ajuda do
            professor Luiz Otávio da Udemy.</p>
        <% } %>
        
        <div class="buttons">
            <a href="https://estevaof7.github.io/my-first-landing-page/" target="_blank"><button
                    class="try-it">
                    <% if(isEnglish) { %>
                        Try it here!
                    <% } else { %>
                        Teste aqui!
                    <% } %>
                </button></a>
            <a href="https://github.com/estevaof7/my-first-landing-page" target="_blank"><button
                    class="repository">
                    <% if(isEnglish) { %>
                        Repository
                    <% } else { %>
                        Repositório
                    <% } %>
                </button></a>
        </div>
    </div>
    <div class="img-container">
        <a href="https://estevaof7.github.io/my-first-landing-page/" target="_blank"><img
                src="assets/img/landing-page-gif.gif" alt="Project 1"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/html-5-svgrepo-com.svg" alt="HTML Logo" class="html-logo">
                <p>HTML: 62.5%</p>
            </div>
            <div>
                <img src="assets/img/css-3-svgrepo-com.svg" alt="CSS Logo" class="css-logo">
                <p>CSS: 37.5%</p>
            </div>
        </div>
        <div class="barra">
            <div class="html-bar"></div>
            <div class="css-bar"></div>
        </div>
    </div>
</div>