<div class="project" id="pro-8">

    <div class="img-container left">
        <a href="https://spectacular-daifuku-50a414.netlify.app/" target="_blank"><img src="assets/img/React-1.gif" alt="Project 8"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS: 61.9%</p>
            </div>
            <div>
                <img src="assets/img/html-5-svgrepo-com.svg" alt="HTML Logo" class="html-logo">
                <p>HTML:</br>21.2%</p>
            </div>
            <div>
                <img src="assets/img/css-3-svgrepo-com.svg" alt="CSS Logo" class="css-logo">
                <p>CSS: 16.9%</p>
            </div>
        </div>
        <div class="barra">
            <div class="js-bar"></div>
            <div class="html-bar"></div>
            <div class="css-bar"></div>
        </div>
    </div>

    <div>

        <% if(isEnglish) { %>
            <h1>My first React project</h1>
            <p>A simple project that load posts in order to practice React concepts like components, fetching, state and tests.</p>
            <% } else { %>
            <h1>My first React project</h1>
            <p>Um projeto simples que carrega postagens com o fim de praticar conceitos do React como componentes, fetching, estado e testes.</p>
            <% } %>

        <div class="buttons">
            <a href="https://spectacular-daifuku-50a414.netlify.app/" target="_blank"><button class="try-it">
                <% if(isEnglish) { %>
                    Try it here!
                <% } else { %>
                    Teste aqui!
                <% } %>
            </button></a>
            <a href="https://github.com/estevaof7/react-project-1" target="_blank"><button class="repository">
                <% if(isEnglish) { %>
                    Repository
                <% } else { %>
                    Repositório
                <% } %>
            </button></a>
        </div>
    </div>

    <div class="img-container right">
        <a href="https://spectacular-daifuku-50a414.netlify.app/" target="_blank"><img src="assets/img/React-1.gif" alt="Project 8"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS: 61.9%</p>
            </div>
            <div>
                <img src="assets/img/html-5-svgrepo-com.svg" alt="HTML Logo" class="html-logo">
                <p>HTML:</br>21.2%</p>
            </div>
            <div>
                <img src="assets/img/css-3-svgrepo-com.svg" alt="CSS Logo" class="css-logo">
                <p>CSS: 16.9%</p>
            </div>
        </div>
        <div class="barra">
            <div class="js-bar"></div>
            <div class="html-bar"></div>
            <div class="css-bar"></div>
        </div>
    </div>
</div>