<div class="project" id="pro-2">
    <div>

        <% if(isEnglish) { %>
            <h1>Tabs CSS</h1>
            <p>Working on another project, I thought it would be a good creative decision to have this "tabs" style
                in it. A very simple project that helped me practicing the "conversation" between JS, HTML
                and CSS.</p>
            <% } else { %>
            <h1>Tabs CSS</h1>
            <p>Estilização de "abas" feito com manipulações no CSS. Um projeto simples que me ajudou a
                praticar essa "conversa" que há entre JS, HTML e CSS.</p>
            <% } %>

        <div class="buttons">
            <a href="https://estevaof7.github.io/tabs/" target="_blank"><button class="try-it">
                <% if(isEnglish) { %>
                    Try it here!
                <% } else { %>
                    Teste aqui!
                <% } %>
            </button></a>
            <a href="https://github.com/estevaof7/tabs" target="_blank"><button
                    class="repository">
                    <% if(isEnglish) { %>
                        Repository
                    <% } else { %>
                        Repositório
                    <% } %>
                </button></a>
        </div>
    </div>

    <div class="img-container">
        <a href="https://estevaof7.github.io/tabs/" target="_blank"><img src="assets/img/tabsGif.gif"
                alt="Project 3"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/css-3-svgrepo-com.svg" alt="CSS Logo" class="css-logo">
                <p>CSS: 43.5%</p>
            </div>
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS:</br>41.7% </p>
            </div>
            <div>
                <img src="assets/img/html-5-svgrepo-com.svg" alt="HTML Logo" class="html-logo">
                <p>HTML: 14.8%</p>
            </div>
        </div>
        <div class="barra">
            <div class="css-bar"></div>
            <div class="js-bar"></div>
            <div class="html-bar"></div>
        </div>
    </div>
</div>