<div class="project" id="pro-5">

    <div class="img-container left">
        <a href="https://youtu.be/DiwVSQ6t_Ps" target="_blank"><img src="assets/img/cinejava.gif"
                alt="Project 6"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/java-icon.svg" alt="Java Logo" class="java-logo">
                <p>Java: 95%</p>
            </div>
            <div>
                <img src="assets/img/mysql-logo.svg" alt="MySQL Logo" class="mysql-logo">
                <p>MySQL: 5%</p>
            </div>
        </div>
        <div class="barra">
            <div class="java-bar"></div>
            <div class="mysql-bar"></div>
        </div>
    </div>

    <div>

        <% if(isEnglish) { %>
            <h1>CineJava</h1>
            <p>In order to practice what I had learned about Java and its connection with MySQL, I developed this application. It is a program made to assist the management of movies and showtimes in a movie theater.
            </br></br>My target was not interface development and styling, but database manipulation and object-oriented programming.
            <% } else { %>
                <h1>CineJava</h1>
                <p>Com o intuito de praticar o que eu havia aprendido em Java e sua conexão com o MySQL, desenvolvi esta aplicação. É um programa feito para auxiliar no gerenciamento de filmes e programações de um cinema.
                </br></br>Meu foco não foi o desenvolvimento e estilização da interface e sim a manipulação do banco de dados e a Programação Orientada a Objetos.
            <% } %>
        <div class="buttons">
            <a href="https://youtu.be/DiwVSQ6t_Ps" target="_blank"><button class="try-it">
                <% if(isEnglish) { %>
                    Video
                    <% } else { %>
                    Vídeo
                    <% } %>
            </button></a>
            <a href="https://github.com/estevaof7/cinejava" target="_blank"><button class="repository">README</button></a>
        </div>
    </div>

    <div class="img-container right">
        <a href="https://youtu.be/DiwVSQ6t_Ps" target="_blank"><img src="assets/img/cinejava.gif"
                alt="Project 6"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/java-icon.svg" alt="Java Logo" class="java-logo">
                <p>Java: 95%</p>
            </div>
            <div>
                <img src="assets/img/mysql-logo.svg" alt="MySQL Logo" class="mysql-logo">
                <p>MySQL: 5%</p>
            </div>
        </div>
        <div class="barra">
            <div class="java-bar"></div>
            <div class="mysql-bar"></div>
        </div>
    </div>

</div>