<div class="project" id="pro-6">

    <div class="img-container left">
        <a href="https://youtu.be/aG6yPrYZAs4" target="_blank"><img src="assets/img/agenda.gif" alt="Project 5"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS: 65.5%</p>
            </div>
            <div>
                <img src="assets/img/ejs.svg" alt="EJS Logo" class="ejs-logo">
                <p>EJS: 34.5%</p>
            </div>
        </div>
        <div class="barra">
            <div class="js-bar"></div>
            <div class="ejs-bar"></div>
        </div>
    </div>

    <div>
        <% if(isEnglish) { %>
            <h1>Contacts Express/MongoDB</h1>
            <p>A contact list project made to practice Node, Express and the management of CRUD database functions using MongoDB.</p>
            <% } else { %>
                <h1>Agenda Express/MongoDB</h1>
                <p>Uma agenda feita para praticar Node, Express e o gerenciamento das funções de banco de dados CRUD usando MongoDB.</p>
            <% } %>


        <div class="buttons">
            <a href="https://youtu.be/aG6yPrYZAs4" target="_blank"><button class="try-it">
                <% if(isEnglish) { %>
                    Video
                    <% } else { %>
                    Vídeo
                    <% } %>
            </button></a>
            <a href="https://github.com/estevaof7/agenda" target="_blank"><button class="repository">README</button></a>
        </div>
    </div>

    <div class="img-container right">
        <a href="https://youtu.be/aG6yPrYZAs4" target="_blank"><img src="assets/img/agenda.gif" alt="Project 5"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS: 65.5%</p>
            </div>
            <div>
                <img src="assets/img/ejs.svg" alt="EJS Logo" class="ejs-logo">
                <p>EJS: 34.5%</p>
            </div>
        </div>
        <div class="barra">
            <div class="js-bar"></div>
            <div class="ejs-bar"></div>
        </div>
    </div>
</div>
