<div class="project" id="pro-9">

    <div class="img-container left">
        <a href="https://coffee-shopf7.netlify.app/" target="_blank"><img src="assets/img/coffeshop.gif" alt="Project 9"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/css-3-svgrepo-com.svg" alt="CSS Logo" class="css-logo">
                <p>CSS: 50.8%</p>
            </div>
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS: 45.3%</p>
            </div>
            <div>
                <img src="assets/img/html-5-svgrepo-com.svg" alt="HTML Logo" class="html-logo">
                <p>3.9%</p>
            </div>
        </div>
        <div class="barra">
            <div class="css-bar"></div>
            <div class="js-bar"></div>
            <div class="html-bar"></div>
        </div>
    </div>

    <div>

        <% if(isEnglish) { %>
            <h1>Practicing React (In progress)</h1>
            <p>I've been developing a website while deepening my understanding of React concepts.
                <br><br>
                Currently, I am using the functional componentization approach with hooks, and this learning journey has been very exciting!
            </p>
            <% } else { %>
            <h1>React em prática (em andamento)</h1>
            <p>Estou desenvolvendo um site enquanto aprofundo meu aprendizado nos conceitos de React.
                <br><br>
                Atualmente, estou utilizando a abordagem de componentização funcional com hooks, e essa jornada de aprendizado tem sido muito interessante!
            </p>
            <% } %>

        <div class="buttons">
            <a href="https://coffee-shopf7.netlify.app/" target="_blank"><button class="try-it">
                <% if(isEnglish) { %>
                    Try it here!
                <% } else { %>
                    Teste aqui!
                <% } %>
            </button></a>
            <a href="https://github.com/estevaof7/coffee-shop" target="_blank"><button class="repository">
                <% if(isEnglish) { %>
                    Repository
                <% } else { %>
                    Repositório
                <% } %>
            </button></a>
        </div>
    </div>

    <div class="img-container right">
        <a href="https://coffee-shopf7.netlify.app/" target="_blank"><img src="assets/img/coffeshop.gif" alt="Project 9"></a>
        <div class="project-tech">
            <div>
                <img src="assets/img/css-3-svgrepo-com.svg" alt="CSS Logo" class="css-logo">
                <p>CSS: 50.8%</p>
            </div>
            <div>
                <img src="assets/img/js-svgrepo-com.svg" alt="JS Logo" class="js-logo">
                <p>JS: 45.3%</p>
            </div>
            <div>
                <img src="assets/img/html-5-svgrepo-com.svg" alt="HTML Logo" class="html-logo">
                <p>3.9%</p>
            </div>
        </div>
        <div class="barra">
            <div class="css-bar"></div>
            <div class="js-bar"></div>
            <div class="html-bar"></div>
        </div>
    </div>

</div>